@media (max-width: 900px) {
    #main-doc {
    position: absolute;
    margin: auto;
    width: 100%;
    z-index: 0;
    }
    #navbar {
        background-color: yellow;
        width: 100%;
        height: 40%;
        position: relative;
        border: 0;
    }
    }
@media (max-width: 570px) {
    #main-doc {
        padding: 5px;
        margin: auto;
        img { 
            max-width: 250px;
            width: auto;
            height: auto;
            margin: 0 auto;
        }
    }
}  