@import './reset', './variables';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
// Global
body {
    background-color: $mn-cl;
    display: block;
    text-align: center;
    font-size: auto;
    font-family: 'PT Sans', sans-serif;
}


// Navbar 
#navbar {
    background-color: darken($mn-cl,50%);
    top: 0;
    left: 0;
    margin-right: 10px;
    position: fixed;
    height: 100vh;
    width: 25vw;
    min-width: 250px;
    border-right: 5px solid black;
    header {
        background-color: darken( $mn-cl,70%);
        font-size: 30px;
        padding: 5px;
        font-weight: bold;
        color: #fff;
    }
    .nav-list {
        text-align: center;
        background-color: #fff;
        word-spacing: 5px;
        font-size: 25px;
    }
    ul {
        overflow: auto;
    }
    a {
        text-decoration: none;
        cursor: pointer;
    }
    li {
        background-color: darken( $mn-cl,60%);
        padding: 5px;
        width: 100%;
        color: white;
        border-top: 5px solid black;
        list-style: none;
        position: relative;
        &:hover {
            background-color: lighten($mn-cl, 5%);
            color: black;
        }
    
    }
    .link-bottom {
        border-bottom: 5px solid black;
    }
}

// Main 
#main-doc {
    display: flex;
    flex-direction: column;
    margin-left: 25vw;
    margin-bottom: 60px;
    padding: 0 20px 20px 20px;
    img {
        min-width: 350px;
        max-height: 250px;
        margin: 40px 0;
        border: 2px solid;
    }
    header {
        color: #fff;
        background-color: darken( $mn-cl,60%);
        padding: 5px;
        margin: 10px 0;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 10px;
    }
    p{
        text-align: left;
        padding: 10px;
        word-spacing: 3px;
        &::first-letter {
            font-size: 130%;
            font-style: bold;
        }
    }
    .strong { 
        font-weight: bold;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    .sum-list li {
        list-style: square;
        margin-left: 35px;
        text-align: left;
        color: black;
        margin-bottom: 20px;
    }
    #Summary p {
        margin-bottom: 10px;
    }
}



footer{
    position: fixed;
    bottom: 0;
    right: 0;
    color:#fff;
    background-color: darken( $mn-cl,70%);
    width:100%;
    padding: 0;
    margin:0;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    z-index: 1;
    p {
        margin:0;
        font-weight:lighter;
        font-size: 15px;
        padding: 5px;
    }
}


@import './mobile';